
/*  預設文字 */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
	color:    #969696 !important;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
	color:    #969696 !important;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
	color:    #969696 !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
	color:    #969696 !important;
}		

/* Table 專用 */

.td_title {
	vertical-align:middle;
}
.literal_length {
	width : 40%
}	

/* 欄位使用 */
.input_with_full {
	width: 95%;
}

.is_button {
	height: 33px;
	border-radius: 4px;		
}
.is_text {
	height: 33px;
	border-radius: 4px;		
}	

/* 欄位旁邊補充敘述用 */
.prompt_message {
	display:inline; 
	height:35px; 
	line-height:2.5;
}

/* 推薦項目用 CSS */
.append thead td {
	background-color: #EFEFEF;
	border: 1px solid #DDDDDD;
	line-height: 28px;
}
.append td {
	vertical-align: middle;
	text-align: center;
}
table.append tbody {
	background: #fff;
	border-bottom:16px solid #F3F3EF;;
}	
