tbody input {
	width: 300px;
	border: 1px solid #999;
}

.data-ok {
	border: 1px solid #090;
	color: #090;
}
.data-processing {
	border: 1px solid #D90;
	background-color: #eee;
	color: #D90;
}
.data-error {
	border: 1px solid #D00;
	color: #D00;
}

tbody > tr > td > div {
	margin: 2px 0;
}

table.list {
	width: 700px;
}

#info-tip {
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
}