.header
    position: absolute
    top: 0
    left: 0

    width: 100%

    z-index: 999

    @media (max-width: 991px)
        position: fixed

        padding: 0

    > h1
        display: none

    &--active
        @media (min-width: 992px)
            .header-menu
                position: fixed
                top: 0
                left: 0

                width: 100%

                transform: translateY(-100%)

                animation-name: headerAnimation
                animation-duration: .5s
                animation-iteration-count: 1
                animation-timing-function: ease-in-out
                animation-direction: normal
                animation-fill-mode: forwards

                z-index: 999

                @keyframes headerAnimation
                    0%
                        transform: translateY(-100%)

                    100%
                        transform: translateY(0%)

    &-menu
        width: 100%

        background: #ededed

        &__block
            position: relative

            display: flex
            flex-wrap: nowrap
            justify-content: space-between
            align-items: center
            align-content: center

            width: 100%
            height: 60px

        &__logo
            width: 200px

            @media (max-width: 991px)
                width: 180px

            img
                width: auto

        &__nav
            @media (max-width: 991px)
                position: fixed
                top: 0
                right: -320px

                width: 260px
                height: 100vh

                background-color: #fff

                box-shadow: -1px 0 5px rgba(#000, .15)

                overflow: auto

                z-index: 9999

                +ani($e: 'right', $t: .5s)

                &--open
                    right: 0

        &__navbox
            display: flex
            flex-wrap: nowrap
            justify-content: flex-start
            align-items: flex-start
            align-content: flex-start

            width: 100%

            @media (max-width: 991px)
                flex-wrap: wrap
                justify-content: center

                width: 100%
                min-height: 100vh
                padding: 40px 20px

        &__btn
            font-size: 18px
            line-height: 1.5
            color: #555
            text-align: center

            +ani($e: 'color')

            &:hover
                color: $mc

            @media (min-width: 1200px)
                &:nth-child(n + 2)
                    margin-left: 40px

            @media (max-width: 1199px) and (min-width: 992px)
                &:nth-child(n + 2)
                    margin-left: 30px

            @media (max-width: 991px)
                width: 100%
                padding: 15px 0

                font-size: 16px

                &:nth-child(n + 2)
                    border-top: 1px solid #eee

            &--active
                color: $mc

                &:hover
                    color: $mc

        &__close
            position: fixed
            top: 0
            right: -60px

            width: 60px
            height: 60px

            background-color: $mc

            z-index: 99999

            +ani($e: 'right', $t: .5s)

            > div
                position: absolute
                top: 50%
                left: 50%

                width: 20px
                height: 4px

                background-color: #fff

                border-radius: 1px

                &:first-child
                    transform: translate(-50%, -50%) rotate(45deg)

                &:last-child
                    transform: translate(-50%, -50%) rotate(-45deg)

            @media (min-width: 992px)
                display: none

            &--open
                right: 260px

        &__burger
            width: 22px

            > div
                width: 100%
                height: 3px
                margin: 4px 0

                border-radius: 1.5px

                background-color: $mc

            @media (min-width: 992px)
                display: none