.footer
    width: 100%

    background-image: url("../images/footer/footer_bg-01.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    &-main
        width: 100%
        padding: 70px 0

        @media (max-width: 991px)
            padding: 40px 0

        &__block
            width: 100%

        &__logo
            width: 100%
            padding: 0 30px

            text-align: center

            img
                width: 100%
                max-width: 350px

        &__text
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            align-content: center
            flex-direction: column

            width: 100%
            margin-top: 40px

            p
                padding: 0 10px

                font-size: 16px
                font-weight: 400
                line-height: 1.4
                color: #777
                text-align: center

                border-left: 1px solid #777
                border-right: 1px solid #777

                @media (max-width: 991px)
                    font-size: 14px

                &:nth-child(n + 2)
                    margin-top: 10px

            @media (max-width: 991px)
                margin-top: 30px

        &__social
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            align-content: center

            width: 100%
            margin-top: 40px

            @media (max-width: 991px)
                margin-top: 30px

            &-btn
                width: 35px
                height: 35px

                +ani()

                &:nth-child(n + 2)
                    margin-left: 50px

                &--tel
                    +icon($p: 0px -382px)

                &--fb
                    +icon($p: 0px -418px)

                &--line
                    +icon($p: 0px -454px)

                &:hover
                    opacity: .7

    &-copyright
        width: 100%

        border-top: 1px solid #999

        &__text
            width: 100%
            padding: 15px 0

            font-size: 13px
            font-weight: 300
            color: #555
            text-align: center