.home
    &-slider
        width: 100%

        .full-container
            position: relative

        &__slick
            position: relative

            width: 100%

            z-index: 1

            > .home-slider__item:nth-child(n + 2)
                display: none !important

            .slick-dots
                position: absolute
                bottom: 30px
                left: 0

                display: flex
                flex-wrap: nowrap
                justify-content: center
                align-items: center
                align-content: center

                width: 100%

                @media (max-width: 991px)
                    bottom: 20px

                li
                    margin: 0px 5px

                    overflow: hidden

                    &.slick-active
                        button
                            background-color: $mc

                            &:hover
                                background-color: $mc

                    button
                        position: relative

                        width: 14px
                        height: 14px

                        font-size: 0px

                        background-color: #ddd

                        border-radius: 50%

                        cursor: pointer

                        +ani($e: 'background-color')

                        @media (max-width: 991px)
                            width: 10px
                            height: 10px

                        &:hover
                            background-color: #aaa

        &__item
            position: relative

            display: flex !important
            flex-wrap: nowrap
            justify-content: center
            align-items: center
            align-content: center
            flex-direction: column

            width: 100%
            height: 850px

            background-size: cover
            background-position: center
            background-repeat: no-repeat

            @media (max-width: 991px)
                height: 80vw

            .container
                position: relative

                display: flex
                flex-wrap: wrap
                justify-content: center
                align-items: center
                align-content: center

                @media (max-width: 991px)
                    justify-content: center

        &__box
            width: 100%
            padding-right: calc(100% - 360px)

            @media (max-width: 991px)
                padding-right: 30%

        &__title
            position: relative

            width: 100%

            font-family: $ftt
            font-size: 36px
            font-weight: 500
            line-height: 1.4
            color: #333

            @media (max-width: 991px)
                font-size: 28px

            @media (max-width: 575px)
                font-size: 22px

        &__subtitle
            width: 100%
            margin-top: 10px

            font-size: 16px
            font-weight: 400
            color: #777

            @media (max-width: 991px)
                font-size: 15px

            @media (max-width: 575px)
                max-width: none

        &__btnbox
            display: flex
            flex-wrap: nowrap
            justify-content: flex-start
            align-items: center
            align-content: center

            width: 100%
            margin-top: 20px

            @media (max-width: 991px)
                margin-top: 15px

        &__btn
            display: flex
            justify-content: center
            align-items: center

            width: 120px
            height: 40px

            font-size: 16px
            font-weight: 400
            line-height: 1.2
            color: #fff
            text-align: center

            background-color: $mc

            +ani()

            @media (max-width: 991px)
                width: 100px
                height: 36px

                font-size: 14px

            &:nth-child(n + 2)
                margin-left: 25px

                @media (max-width: 991px)
                    margin-left: 10px

            &:hover
                opacity: .7

            &--contact
                background-color: $sc

                @media (max-width: 991px)
                    display: none

    &-banner
        width: 100%

        overflow: hidden

        &__block
            width: 100%

        &__img
            width: 100%
            max-width: none

            &--mb
                @media (min-width: 992px)
                    display: none

            &--pc
                @media (max-width: 991px)
                    display: none

    &-about
        width: 100%

        background-color: #f5f5f5

        overflow: hidden

        &__block
            width: 100%
            padding: 70px 0

            @media (max-width: 991px)
                padding: 40px 0

        .common__title
            &::before
                +icon($p: 0px -61px)

            p
                color: #555

        &__detailbox
            width: 100%

            +ani($e: 'margin-bottom', $t: .5s)

            &--active
                margin-bottom: 30px

        &__detail
            display: none

            width: 100%
            min-width: 100%

            &-img
                width: 100%
                max-width: none

            &-box
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                align-items: flex-start
                align-content: flex-start

                width: 100%
                padding: 40px 30px 25px

                background-color: #fff

                @media (max-width: 991px)
                    padding: 30px 20px 20px

            &-title
                width: 380px
                padding-right: 20px

                @media (max-width: 1199px)
                    width: 300px

                @media (max-width: 991px)
                    width: 100%
                    margin-bottom: 30px

                p
                    width: 100%

                    font-family: $fn
                    font-size: 18px
                    font-weight: 300
                    line-height: 1
                    color: #555

                    @media (max-width: 991px)
                        font-size: 16px

                h3
                    width: 100%

                    font-family: $ftt
                    font-size: 30px
                    font-weight: 700
                    line-height: 1.4
                    color: #333

                    @media (max-width: 991px)
                        font-size: 24px

            &-content
                width: calc(100% - 380px)

                @media (max-width: 1199px)
                    width: calc(100% - 300px)

                @media (max-width: 991px)
                    width: 100%

            &-btnbox
                width: 100%
                padding-top: 20px
                margin-top: 25px

                border-top: 1px solid #ddd

                @media (max-width: 991px)
                    padding-top: 15px
                    margin-top: 20px

            &-btn
                width: 30px
                height: 30px

                background-color: #555

                +icon($p: -120px -61px)

                border-radius: 50%

                +ani($e: 'background-color')

                &:hover
                    background-color: $mc

        &__list
            display: flex
            flex-wrap: wrap
            justify-content: flex-start
            align-items: stretch
            align-content: center

            width: 100%

        &__item
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: stretch
            align-content: center

            @media (min-width: 992px)
                width: calc((100% - 30px) / 2)
                margin-right: 30px

                &:nth-child(2n)
                    margin-right: 0

                &:nth-child(n + 3)
                    margin-top: 30px

            @media (max-width: 991px)
                width: 100%

                &:nth-child(n + 2)
                    margin-top: 20px

            &:hover, &--active
                .home-about__content::after
                    background-color: $mc

                .home-about__title
                    color: $mc

        &__img
            width: 225px

            background-size: cover
            background-position: center
            background-repeat: no-repeat

            @media (max-width: 1199px)
                width: 200px

            @media (max-width: 575px)
                width: 100%

            &::before
                content: ""

                display: block

                width: 100%
                padding-bottom: 100%

        &__content
            position: relative

            width: calc(100% - 225px)
            padding: 25px 30px 30px

            background-color: #fff

            @media (max-width: 1199px)
                width: calc(100% - 200px)

            @media (max-width: 575px)
                width: 100%
                padding: 20px 15px

            &::after
                content: ""

                display: block

                width: 30px
                height: 30px

                background-color: $sc

                +icon($p: -120px -92px)

                border-radius: 50%

                +ani($e: 'background-color')

                @media (min-width: 576px)
                    position: absolute
                    bottom: 30px
                    left: 50%

                    transform: translateX(-50%)

                @media (max-width: 575px)
                    margin: 10px auto 0

        &__title
            width: 100%
            height: calc(1em + 15px)
            padding-bottom: 15px

            font-family: $ftt
            font-size: 20px
            font-weight: 400
            line-height: 1
            color: #333
            text-align: center

            border-bottom: 1px solid #999

            overflow: hidden

            +ani($e: 'color')

        &__text
            width: 100%
            height: 3.4em
            margin-top: 10px

            font-size: 16px
            font-weight: 400
            color: #999
            text-align: center

            overflow: hidden

            @media (max-width: 991px)
                font-size: 15px

            @media (max-width: 575px)
                height: auto

    &-care
        width: 100%

        background-size: cover
        background-position: center
        background-repeat: no-repeat

        overflow: hidden

        &__block
            width: 100%

            padding: 70px 0 0

            @media (max-width: 991px)
                padding: 40px 0 0

        .common__title
            filter: drop-shadow(0px 0px 3px rgba(#000, .3))

            &::before
                +icon($p: 0px -107px)

            p
                color: #fff

        &__list
            position: relative

            display: flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: flex-start
            align-content: flex-start

            width: 100%
            min-height: 645px
            padding: 30px 0 70px

            @media (max-width: 1199px)
                min-height: 540px

            @media (max-width: 991px)
                min-height: auto

                padding: 0

        &__item
            position: relative

            z-index: 2

            @media (min-width: 1200px)
                width: 290px

                &:nth-child(odd)
                    margin-right: 280px

                    text-align: right

                &:nth-child(even)
                    margin-left: 280px

                &:nth-child(n + 3)
                    margin-top: 80px

            @media (max-width: 1199px) and (min-width: 992px)
                width: 250px

                &:nth-child(odd)
                    margin-right: 230px

                    text-align: right

                &:nth-child(even)
                    margin-left: 230px

                &:nth-child(n + 3)
                    margin-top: 65px

            @media (max-width: 991px)
                width: 100%

                text-align: center

                &:nth-child(n + 2)
                    margin-top: 30px

            &:hover
                .home-care__btn
                    color: #fff

                    background-color: #ea5514

        &__title
            width: 100%
            height: 1.4em

            font-family: $ftt
            font-size: 20px
            font-weight: 400
            line-height: 1.4
            color: #fff

            filter: drop-shadow(0px 0px 2px rgba(#000, .3))

            overflow: hidden

        &__text
            width: 100%
            max-height: 3.4em
            margin-top: 10px

            font-size: 16px
            font-weight: 400
            color: #956134

            overflow: hidden

            @media (max-width: 991px)
                margin-top: 5px

                font-size: 15px

        &__btn
            display: inline-block

            width: 70px
            margin-top: 10px

            font-size: 16px
            font-weight: 400
            line-height: 28px
            color: #ea5514
            text-align: center

            background-color: rgba(#fff, .5)

            border: 1px solid #ea5514
            border-radius: 15px

            +ani($e: 'color, background-color')

            @media (max-width: 991px)
                font-size: 15px

        &__img
            @media (min-width: 1200px)
                width: 600px

            @media (max-width: 1199px) and (min-width: 992px)
                width: 500px

            @media (min-width: 992px)
                position: absolute
                bottom: 0
                left: 50%

                transform: translateX(-50%)

            @media (max-width: 991px)
                width: 100%
                max-width: 500px
                margin: 30px auto 0

            img
                width: 100%

    &-service
        width: 100%

        background-color: #fff

        overflow: hidden

        &__block
            width: 100%

            padding: 70px 0

            @media (max-width: 991px)
                padding: 40px 0

        .common__title
            &::before
                width: 90px
                height: 90px

                +icon($p: 0px -153px)

                @media (max-width: 991px)
                    width: 45px
                    height: 45px

                    +icon($p: 0px -76.5px, $s: 75px 500px)

            p
                color: #555

            span
                color: #666

        &__content
            width: 100%
            text-align: center

        &__img
            width: 100%

            @media (max-width: 767px)
                padding: 0 10px

            &--mb
                max-width: 450px

                @media (min-width: 768px)
                    display: none

            &--pc
                max-width: 960px

                @media (max-width: 767px)
                    display: none

    &-case
        width: 100%

        background-size: cover
        background-position: center
        background-repeat: no-repeat

        overflow: hidden

        &__block
            width: 100%

            padding: 70px 0 0

            @media (max-width: 991px)
                padding: 40px 0 0

        .common__title
            filter: drop-shadow(0px 0px 3px rgba(#000, .3))

            &::before
                +icon($p: 0px -244px)

            p
                color: #fff

        &__list
            position: relative

            display: flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: flex-start
            align-content: flex-start

            width: 100%
            min-height: 645px
            padding: 30px 0 70px

            @media (max-width: 1199px)
                min-height: 540px

            @media (max-width: 991px)
                min-height: auto

                padding: 0

        &__item
            position: relative

            z-index: 2

            @media (min-width: 1200px)
                width: 290px

                &:nth-child(odd)
                    margin-right: 280px

                    text-align: right

                &:nth-child(even)
                    margin-left: 280px

                &:nth-child(n + 3)
                    margin-top: 80px

            @media (max-width: 1199px) and (min-width: 992px)
                width: 250px

                &:nth-child(odd)
                    margin-right: 230px

                    text-align: right

                &:nth-child(even)
                    margin-left: 230px

                &:nth-child(n + 3)
                    margin-top: 65px

            @media (max-width: 991px)
                width: 100%

                text-align: center

                &:nth-child(n + 2)
                    margin-top: 30px

            &:hover
                .home-case__btn
                    color: #fff

                    background-color: $mc

        &__title
            width: 100%
            height: 1.4em

            font-family: $ftt
            font-size: 20px
            font-weight: 400
            line-height: 1.4
            color: #444

            overflow: hidden

        &__text
            width: 100%
            max-height: 3.4em
            margin-top: 10px

            font-size: 16px
            font-weight: 400
            color: #777

            overflow: hidden

            @media (max-width: 991px)
                margin-top: 5px

                font-size: 15px

        &__btn
            display: inline-block

            width: 70px
            margin-top: 10px

            font-size: 16px
            font-weight: 400
            line-height: 28px
            color: $mc
            text-align: center

            background-color: rgba(#fff, .5)

            border: 1px solid $mc
            border-radius: 15px

            +ani($e: 'color, background-color')

            @media (max-width: 991px)
                font-size: 15px

        &__img
            @media (min-width: 1200px)
                width: 600px

            @media (max-width: 1199px) and (min-width: 992px)
                width: 500px

            @media (min-width: 992px)
                position: absolute
                bottom: 0
                left: 50%

                transform: translateX(-50%)

            @media (max-width: 991px)
                width: 100%
                max-width: 500px
                margin: 30px auto 0

            img
                width: 100%

    &-qa
        width: 100%

        background-color: #f5f5f5

        overflow: hidden

        &__block
            width: 100%
            padding: 70px 0

            @media (max-width: 991px)
                padding: 40px 0

        .common__title
            &::before
                +icon($p: 0px -290px)

            p
                color: #555

        &__detailbox
            width: 100%

            +ani($e: 'margin-bottom', $t: .5s)

            &--active
                margin-bottom: 30px

        &__detail
            display: none

            width: 100%
            min-width: 100%

            &-img
                width: 100%
                max-width: none

            &-box
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                align-items: flex-start
                align-content: flex-start

                width: 100%
                padding: 40px 30px 25px

                background-color: #fff

                @media (max-width: 991px)
                    padding: 30px 20px 20px

            &-title
                width: 380px
                padding-right: 20px

                @media (max-width: 1199px)
                    width: 300px

                @media (max-width: 991px)
                    width: 100%
                    margin-bottom: 30px

                p
                    width: 100%

                    font-family: $fn
                    font-size: 18px
                    font-weight: 300
                    line-height: 1
                    color: #555

                    @media (max-width: 991px)
                        font-size: 16px

                h3
                    width: 100%

                    font-family: $ftt
                    font-size: 30px
                    font-weight: 700
                    line-height: 1.4
                    color: #333

                    @media (max-width: 991px)
                        font-size: 24px

            &-content
                width: calc(100% - 380px)

                @media (max-width: 1199px)
                    width: calc(100% - 300px)

                @media (max-width: 991px)
                    width: 100%

            &-btnbox
                width: 100%
                padding-top: 20px
                margin-top: 25px

                border-top: 1px solid #ddd

                @media (max-width: 991px)
                    padding-top: 15px
                    margin-top: 20px

            &-btn
                width: 30px
                height: 30px

                background-color: #555

                +icon($p: -120px -61px)

                border-radius: 50%

                +ani($e: 'background-color')

                &:hover
                    background-color: $mc

        &__list
            display: flex
            flex-wrap: wrap
            justify-content: flex-start
            align-items: stretch
            align-content: center

            width: 100%

        &__item
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: stretch
            align-content: center

            @media (min-width: 992px)
                width: calc((100% - 30px) / 2)
                margin-right: 30px

                &:nth-child(2n)
                    margin-right: 0

                &:nth-child(n + 3)
                    margin-top: 30px

            @media (max-width: 991px)
                width: 100%

                &:nth-child(n + 2)
                    margin-top: 20px

            &:hover, &--active
                .home-qa__content::after
                    background-color: $mc

                .home-qa__title
                    color: $mc

        &__img
            width: 225px

            background-size: cover
            background-position: center
            background-repeat: no-repeat

            @media (max-width: 1199px)
                width: 200px

            @media (max-width: 575px)
                width: 100%

            &::before
                content: ""

                display: block

                width: 100%
                padding-bottom: 100%

        &__content
            position: relative

            width: calc(100% - 225px)
            padding: 25px 30px 30px

            background-color: #fff

            @media (max-width: 1199px)
                width: calc(100% - 200px)

            @media (max-width: 575px)
                width: 100%
                padding: 20px 15px

            &::after
                content: ""

                display: block

                width: 30px
                height: 30px

                background-color: #fdd312

                +icon($p: -120px -92px)

                border-radius: 50%

                +ani($e: 'background-color')

                @media (min-width: 576px)
                    position: absolute
                    bottom: 30px
                    left: 50%

                    transform: translateX(-50%)

                @media (max-width: 575px)
                    margin: 10px auto 0

        &__title
            width: 100%
            height: calc(1em + 15px)
            padding-bottom: 15px

            font-family: $ftt
            font-size: 20px
            font-weight: 400
            line-height: 1
            color: #333
            text-align: center

            border-bottom: 1px solid #999

            overflow: hidden

            +ani($e: 'color')

        &__text
            width: 100%
            height: 3.4em
            margin-top: 10px

            font-size: 16px
            font-weight: 400
            color: #999
            text-align: center

            overflow: hidden

            @media (max-width: 991px)
                font-size: 15px

            @media (max-width: 575px)
                height: auto

    &-contact
        width: 100%

        overflow: hidden

        &__block
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: stretch
            align-content: center

        &__form
            width: 50%
            padding: 70px 140px 70px calc(50% - 570px)

            @media (max-width: 1199px)
                padding: 70px 80px 70px calc(50% - 480px)

            @media (max-width: 991px)
                width: 100%
                padding: 40px 0

            .container
                @media (min-width: 992px)
                    width: 100%

                    padding: 0

        &__title
            position: relative

            width: 100%
            padding-left: 60px
            margin-bottom: 45px

            font-family: $ftt
            font-size: 40px
            font-weight: 500
            line-height: 1.3

            @media (max-width: 991px)
                margin-bottom: 25px

                font-size: 28px

            &::before
                content: ""

                position: absolute
                top: 50%
                left: 0

                display: block

                width: 45px
                height: 45px

                +icon($p: 0px -336px)

                transform: translateY(-50%)

        &__table
            width: 100%

        &__item
            width: 100%

            &:nth-child(n + 2)
                margin-top: 30px

                @media (max-width: 991px)
                    margin-top: 20px

        &__field
            width: 100%

            font-family: $ftt
            font-size: 20px
            font-weight: 400
            line-height: 1
            color: #333

            @media (max-width: 991px)
                font-size: 16px

        &__label
            width: 100%

        &__input
            width: 100%
            height: 40px
            padding: 0 10px
            margin-top: 10px

            font-size: 16px
            font-weight: 400
            color: $tc

            background-color: #fff

            border: 1px solid #ddd

            +ani($e: 'border-color')

            &:focus
                border-color: #777

        &__radio
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: center
            align-content: center

            width: 100%

            @media (max-width: 991px)
                justify-content: flex-start

            label
                position: relative

                display: block

                padding-left: 20px
                margin-top: 10px

                font-size: 16px
                font-weight: 400
                line-height: 1
                color: #999

                @media (max-width: 991px)
                    margin-right: 15px

                &::before
                    content: ""

                    position: absolute
                    top: 50%
                    left: 0

                    display: block

                    width: 15px
                    height: 15px

                    background-color: #fff

                    border: 1px solid #aaa
                    border-radius: 2px

                    transform: translateY(-50%)

                    z-index: 1

                    +ani($e: 'background-color')

                &:hover
                    &::before
                        background-color: #eee

                input
                    display: none

                    &:checked ~ i
                        display: block

                i
                    position: absolute
                    top: 50%
                    left: 0

                    display: none

                    width: 15px
                    height: 15px

                    +icon($p: -135px -123px)

                    transform: translateY(-50%)

                    z-index: 2

        &__btnbox
            width: 100%
            margin-top: 40px

            @media (max-width: 991px)
                margin-top: 25px

        &__btn
            width: 100%

            font-size: 16px
            font-weight: 400
            line-height: 40px
            color: #fff
            text-align: center

            background-color: $sc

            +ani()

            @media (max-width: 991px)
                font-size: 15px
                line-height: 36px

            &:hover
                opacity: .7

        &__img
            width: 50%

            background-image: url("../images/home/contact_img-01.jpg")
            background-size: cover
            background-position: center
            background-repeat: no-repeat

            @media (max-width: 991px)
                order: -1

                width: 100%
                padding-bottom: 60%

        &__success
            position: fixed
            top: 50%
            left: 50%

            width: calc(100vw - 30px)
            max-width: 300px
            padding: 10px

            font-size: 14px
            font-weight: 400
            line-height: 1.7
            color: #fff
            text-align: center

            background-color: #39b54a

            box-shadow: 0 0 10px rgba(#39b54a, .7)

            transform: translate(-50%, -50%)

            z-index: 998

            animation: msgAniamtion .8s

        &__error
            position: fixed
            top: 50%
            left: 50%

            width: calc(100vw - 30px)
            max-width: 300px
            padding: 10px

            font-size: 14px
            font-weight: 400
            line-height: 1.7
            color: #fff
            text-align: center

            background-color: #c30d23

            box-shadow: 0 0 10px rgba(#c30d23, .7)

            transform: translate(-50%, -50%)

            z-index: 998

            animation: msgAniamtion .8s

        @keyframes msgAniamtion
            from
                margin-top: 50px
                opacity: 0
            to
                margin-top: 0px
                opacity: 1