.main
    width: 100%
    padding-top: 60px

    background-color: #fff

.container
    position: relative

    width: 100%
    padding: 0 15px
    margin: 0 auto

    @media (min-width: 1200px)
        width: 1170px

    @media (max-width: 1199px) and (min-width: 992px)
        width: 990px

    @media (max-width: 991px) and (min-width: 768px)
        width: 750px

    @media (max-width: 767px)
        width: 100%

.full-container
    position: relative

    width: 100%

.fixed
    &__social
        position: fixed
        top: 50%
        right: 30px

        z-index: 999

        @media (min-width: 992px)
            transform: translateY(-50%)

        @media (max-width: 991px)
            top: auto
            bottom: 80px
            right: 20px

        &-btn
            width: 60px
            height: 60px

            border-radius: 50%

            box-shadow: 2px 2px 8px rgba(0, 0, 0, .5)

            overflow: hidden

            transition: box-shadow .3s

            @media (max-width: 991px)
                width: 36px
                height: 36px

                box-shadow: none

            &:nth-child(n + 2)
                margin-top: 15px

                @media (max-width: 991px)
                    margin-top: 5px

            &:hover
                box-shadow: 2px 2px 8px rgba(0, 0, 0, 0)

                @media (max-width: 991px)
                    box-shadow: none

            &--contact
                @include icon($p: 0px -551px)

                @media (max-width: 991px)
                    @include icon($p: 0px 330.6px, $s: 90px 600px)

            &--tel
                @include icon($p: 0px -490px)

                @media (max-width: 991px)
                    @include icon($p: 0px -294px, $s: 90px 600px)

            &--fb
                @include icon($p: 0px 0px)

                @media (max-width: 991px)
                    @include icon($p: 0px 0px, $s: 90px 600px)

            &--line
                @include icon($p: -61px 0px)

                @media (max-width: 991px)
                    @include icon($p: -36.6px 0px, $s: 90px 600px)

.common
    &__title
        width: 100%
        margin-bottom: 45px

        &::before
            content: ""

            display: block

            width: 45px
            height: 45px
            margin: 0 auto 10px

        @media (max-width: 991px)
            margin-bottom: 25px

        p
            width: 100%

            font-family: $ftt
            font-size: 40px
            font-weight: 500
            line-height: 1.3
            text-align: center

            @media (max-width: 991px)
                font-size: 28px

        span
            display: block

            width: 100%
            margin-top: 10px

            font-size: 28px
            font-weight: 400
            line-height: 1.4

            text-align: center

            @media (max-width: 991px)
                font-size: 20px

.gototop
    position: fixed
    bottom: 30px
    right: 30px

    display: none

    width: 60px
    height: 60px

    background-color: #777
    background-image: url(../images/gototop.svg)
    background-size: 40px 40px
    background-position: center
    background-repeat: no-repeat

    border-radius: 50%

    transition: opacity .3s

    z-index: 998

    @media (max-width: 991px)
        bottom: 20px
        right: 20px

        width: 36px
        height: 36px

        background-size: 22px 22px

    &:hover
        opacity: .7

.scroll
    &-effect
        opacity: 0

        +ani($t: .5s, $f: 'ease-in-out')

        &--left
            transform: translateX(-100px)

            +ani($e: 'transform, opacity', $t: .5s, $f: 'ease-in-out')

        &--right
            transform: translateX(100px)

            +ani($e: 'transform, opacity', $t: .5s, $f: 'ease-in-out')

        &--bottom
            transform: translateY(100px)

            +ani($e: 'transform, opacity', $t: .5s, $f: 'ease-in-out')

        &--movein
            transform: translate(0, 0)

            opacity: 1