// NOTE:Icon function
@mixin icon($p: 0px 0px, $s: 150px 1000px)
	background-size: $s
	background-repeat: no-repeat
	background-image: url("../images/icons-01.png?#{$tt}")
	background-position: $p

@mixin ani($e: 'opacity', $t: .3s, $f: 'linear', $d: 0s)
	transition-property: #{$e}
	transition-duration: #{$t}
	transition-timing-function: #{$f}
	transition-delay: #{$d}