// NOTE:CSS reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, ar, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, input, select, textarea, caption, tbody, tfoot, thead, tr, th, td, nav, section, article
    margin: 0
    padding: 0
    border: 0
    outline: 0

    font-family: $ft

    vertical-align: top

    box-sizing: border-box
    backface-visibility: hidden
    -webkit-tap-highlight-color: transparent

body
    position: relative

    font-family: $ft
    font-size: 16px
    font-weight: 400
    line-height: 1.7
    color: #777

    overflow-x: hidden

img
    max-width: 100%

    vertical-align: middle

    -webkit-touch-callout: none
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

button, input, select, textarea
    display: block

    outline: none

a
    cursor: pointer

    display: block

    text-decoration: none

a:hover, a:focus, a:active
    text-decoration: none

ul, ol
    list-style: none

*::placeholder
    color: #84abdb

*:-ms-input-placeholder
    color: #84abdb

*::-ms-input-placeholder
    color: #84abdb