/* 編輯器 */

.cke_editable h1,
.cke_editable h2,
.cke_editable h3,
.cke_editable h4,
.cke_editable h5,
.cke_editable h6 {
    margin: 0;

    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    font-weight: 500;
    line-height: 1.4;
    color: #333;
}
.cke_editable h1 {
    font-size: 48px;
}
.cke_editable h2 {
    font-size: 40px;
}
.cke_editable h3 {
    font-size: 32px;
}
.cke_editable h4 {
    font-size: 28px;
}
.cke_editable h5 {
    font-size: 24px;
}
.cke_editable h6 {
    font-size: 20px;
}

.cke_editable p {
    padding: 0;
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
}
.cke_editable a {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #004c9f;

    text-decoration: underline;

    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
        -ms-transition: opacity .3s;
         -o-transition: opacity .3s;
            transition: opacity .3s;
}
.cke_editable a:hover {
    opacity: .7;
}
.cke_editable ol {
    padding-left: 30px;
    margin: 0;

    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #777;

    list-style-type: decimal;
}
.cke_editable ol li {
    list-style-type: decimal;
}
.cke_editable ul {
    padding-left: 30px;
    margin: 0;

    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #777;

    list-style-type: disc;
}
.cke_editable ul li {
    list-style-type: disc;
}
.cke_editable img {
    max-width: 100%;
    height: auto !important;
}

.cke_editable table {
    max-width: 100%;

    font-size: 16px;
    font-weight: 400;

    border: 1px solid #ddd;
    border-collapse: collapse;
}
.cke_editable td, .cke_editable th {
    padding: 10px 5px;

    line-height: 1.7;

    border: 1px solid #ddd;

    white-space: normal !important;
}

.cke_editable blockquote {
    padding: 5px 20px;
    margin: 10px 0px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #333;

    border-style: solid;
    border-color: #ccc;
    border-width: 0 0 0 5px;
}

.cke_editable strong {
    font-weight: bold;
}

.cke_editable__table--scroll {
    width: 100%;

    overflow: auto;
}
.cke_editable__table--scroll::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}
.cke_editable__table--scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;

    background-color: #F5F5F5;
}
.cke_editable__table--scroll::-webkit-scrollbar-thumb {
    background-color: #555;
}

/* 編輯器 end */