html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, ar, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, input, select, textarea, caption, tbody, tfoot, thead, tr, th, td, nav, section, article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Microsoft JhengHei", sans-serif;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent; }

body {
  position: relative;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  overflow-x: hidden; }

img {
  max-width: 100%;
  vertical-align: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

button, input, select, textarea {
  display: block;
  outline: none; }

a {
  cursor: pointer;
  display: block;
  text-decoration: none; }

a:hover, a:focus, a:active {
  text-decoration: none; }

ul, ol {
  list-style: none; }

*::-webkit-input-placeholder {
  color: #84abdb; }

*:-ms-input-placeholder {
  color: #84abdb; }

*::-ms-input-placeholder {
  color: #84abdb; }

*::placeholder {
  color: #84abdb; }

*:-ms-input-placeholder {
  color: #84abdb; }

*::-ms-input-placeholder {
  color: #84abdb; }

.main {
  width: 100%;
  padding-top: 60px;
  background-color: #fff; }

.container {
  position: relative;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media (max-width: 1199px) and (min-width: 992px) {
    .container {
      width: 990px; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (max-width: 767px) {
    .container {
      width: 100%; } }

.full-container {
  position: relative;
  width: 100%; }

.fixed__social {
  position: fixed;
  top: 50%;
  right: 30px;
  z-index: 999; }
  @media (min-width: 992px) {
    .fixed__social {
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); } }
  @media (max-width: 991px) {
    .fixed__social {
      top: auto;
      bottom: 80px;
      right: 20px; } }
  .fixed__social-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s; }
    @media (max-width: 991px) {
      .fixed__social-btn {
        width: 36px;
        height: 36px;
        -webkit-box-shadow: none;
        box-shadow: none; } }
    .fixed__social-btn:nth-child(n + 2) {
      margin-top: 15px; }
      @media (max-width: 991px) {
        .fixed__social-btn:nth-child(n + 2) {
          margin-top: 5px; } }
    .fixed__social-btn:hover {
      -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0);
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0); }
      @media (max-width: 991px) {
        .fixed__social-btn:hover {
          -webkit-box-shadow: none;
          box-shadow: none; } }
    .fixed__social-btn--contact {
      background-size: 150px 1000px;
      background-repeat: no-repeat;
      background-image: url("../images/icons-01.png?115");
      background-position: 0px -551px; }
      @media (max-width: 991px) {
        .fixed__social-btn--contact {
          background-size: 90px 600px;
          background-repeat: no-repeat;
          background-image: url("../images/icons-01.png?115");
          background-position: 0px 330.6px; } }
    .fixed__social-btn--tel {
      background-size: 150px 1000px;
      background-repeat: no-repeat;
      background-image: url("../images/icons-01.png?115");
      background-position: 0px -490px; }
      @media (max-width: 991px) {
        .fixed__social-btn--tel {
          background-size: 90px 600px;
          background-repeat: no-repeat;
          background-image: url("../images/icons-01.png?115");
          background-position: 0px -294px; } }
    .fixed__social-btn--fb {
      background-size: 150px 1000px;
      background-repeat: no-repeat;
      background-image: url("../images/icons-01.png?115");
      background-position: 0px 0px; }
      @media (max-width: 991px) {
        .fixed__social-btn--fb {
          background-size: 90px 600px;
          background-repeat: no-repeat;
          background-image: url("../images/icons-01.png?115");
          background-position: 0px 0px; } }
    .fixed__social-btn--line {
      background-size: 150px 1000px;
      background-repeat: no-repeat;
      background-image: url("../images/icons-01.png?115");
      background-position: -61px 0px; }
      @media (max-width: 991px) {
        .fixed__social-btn--line {
          background-size: 90px 600px;
          background-repeat: no-repeat;
          background-image: url("../images/icons-01.png?115");
          background-position: -36.6px 0px; } }

.common__title {
  width: 100%;
  margin-bottom: 45px; }
  .common__title::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto 10px; }
  @media (max-width: 991px) {
    .common__title {
      margin-bottom: 25px; } }
  .common__title p {
    width: 100%;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.3;
    text-align: center; }
    @media (max-width: 991px) {
      .common__title p {
        font-size: 28px; } }
  .common__title span {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center; }
    @media (max-width: 991px) {
      .common__title span {
        font-size: 20px; } }

.gototop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  width: 60px;
  height: 60px;
  background-color: #777;
  background-image: url(../images/gototop.svg);
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  z-index: 998; }
  @media (max-width: 991px) {
    .gototop {
      bottom: 20px;
      right: 20px;
      width: 36px;
      height: 36px;
      background-size: 22px 22px; } }
  .gototop:hover {
    opacity: .7; }

.scroll-effect {
  opacity: 0;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s; }
  .scroll-effect--left {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  .scroll-effect--right {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  .scroll-effect--bottom {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  .scroll-effect--movein {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
  @media (max-width: 991px) {
    .header {
      position: fixed;
      padding: 0; } }
  .header > h1 {
    display: none; }
  @media (min-width: 992px) {
    .header--active .header-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-animation-name: headerAnimation;
      animation-name: headerAnimation;
      -webkit-animation-duration: .5s;
      animation-duration: .5s;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-direction: normal;
      animation-direction: normal;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      z-index: 999; }
    @-webkit-keyframes headerAnimation {
      0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%); }
      100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%); } }
    @keyframes headerAnimation {
      0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%); }
      100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%); } } }
  .header-menu {
    width: 100%;
    background: #ededed; }
    .header-menu__block {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      width: 100%;
      height: 60px; }
    .header-menu__logo {
      width: 200px; }
      @media (max-width: 991px) {
        .header-menu__logo {
          width: 180px; } }
      .header-menu__logo img {
        width: auto; }
    @media (max-width: 991px) {
      .header-menu__nav {
        position: fixed;
        top: 0;
        right: -320px;
        width: 260px;
        height: 100vh;
        background-color: #fff;
        -webkit-box-shadow: -1px 0 5px rgba(0, 0, 0, 0.15);
        box-shadow: -1px 0 5px rgba(0, 0, 0, 0.15);
        overflow: auto;
        z-index: 9999;
        -webkit-transition-property: right;
        -o-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s; }
        .header-menu__nav--open {
          right: 0; } }
    .header-menu__navbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      width: 100%; }
      @media (max-width: 991px) {
        .header-menu__navbox {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 100%;
          min-height: 100vh;
          padding: 40px 20px; } }
    .header-menu__btn {
      font-size: 18px;
      line-height: 1.5;
      color: #555;
      text-align: center;
      -webkit-transition-property: color;
      -o-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
      .header-menu__btn:hover {
        color: #004c9f; }
      @media (min-width: 1200px) {
        .header-menu__btn:nth-child(n + 2) {
          margin-left: 40px; } }
      @media (max-width: 1199px) and (min-width: 992px) {
        .header-menu__btn:nth-child(n + 2) {
          margin-left: 30px; } }
      @media (max-width: 991px) {
        .header-menu__btn {
          width: 100%;
          padding: 15px 0;
          font-size: 16px; }
          .header-menu__btn:nth-child(n + 2) {
            border-top: 1px solid #eee; } }
      .header-menu__btn--active {
        color: #004c9f; }
        .header-menu__btn--active:hover {
          color: #004c9f; }
    .header-menu__close {
      position: fixed;
      top: 0;
      right: -60px;
      width: 60px;
      height: 60px;
      background-color: #004c9f;
      z-index: 99999;
      -webkit-transition-property: right;
      -o-transition-property: right;
      transition-property: right;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
      .header-menu__close > div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 4px;
        background-color: #fff;
        border-radius: 1px; }
        .header-menu__close > div:first-child {
          -webkit-transform: translate(-50%, -50%) rotate(45deg);
          -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg); }
        .header-menu__close > div:last-child {
          -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg); }
      @media (min-width: 992px) {
        .header-menu__close {
          display: none; } }
      .header-menu__close--open {
        right: 260px; }
    .header-menu__burger {
      width: 22px; }
      .header-menu__burger > div {
        width: 100%;
        height: 3px;
        margin: 4px 0;
        border-radius: 1.5px;
        background-color: #004c9f; }
      @media (min-width: 992px) {
        .header-menu__burger {
          display: none; } }

.footer {
  width: 100%;
  background-image: url("../images/footer/footer_bg-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .footer-main {
    width: 100%;
    padding: 70px 0; }
    @media (max-width: 991px) {
      .footer-main {
        padding: 40px 0; } }
    .footer-main__block {
      width: 100%; }
    .footer-main__logo {
      width: 100%;
      padding: 0 30px;
      text-align: center; }
      .footer-main__logo img {
        width: 100%;
        max-width: 350px; }
    .footer-main__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      margin-top: 40px; }
      .footer-main__text p {
        padding: 0 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        color: #777;
        text-align: center;
        border-left: 1px solid #777;
        border-right: 1px solid #777; }
        @media (max-width: 991px) {
          .footer-main__text p {
            font-size: 14px; } }
        .footer-main__text p:nth-child(n + 2) {
          margin-top: 10px; }
      @media (max-width: 991px) {
        .footer-main__text {
          margin-top: 30px; } }
    .footer-main__social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      width: 100%;
      margin-top: 40px; }
      @media (max-width: 991px) {
        .footer-main__social {
          margin-top: 30px; } }
      .footer-main__social-btn {
        width: 35px;
        height: 35px;
        -webkit-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s; }
        .footer-main__social-btn:nth-child(n + 2) {
          margin-left: 50px; }
        .footer-main__social-btn--tel {
          background-size: 150px 1000px;
          background-repeat: no-repeat;
          background-image: url("../images/icons-01.png?115");
          background-position: 0px -382px; }
        .footer-main__social-btn--fb {
          background-size: 150px 1000px;
          background-repeat: no-repeat;
          background-image: url("../images/icons-01.png?115");
          background-position: 0px -418px; }
        .footer-main__social-btn--line {
          background-size: 150px 1000px;
          background-repeat: no-repeat;
          background-image: url("../images/icons-01.png?115");
          background-position: 0px -454px; }
        .footer-main__social-btn:hover {
          opacity: .7; }
  .footer-copyright {
    width: 100%;
    border-top: 1px solid #999; }
    .footer-copyright__text {
      width: 100%;
      padding: 15px 0;
      font-size: 13px;
      font-weight: 300;
      color: #555;
      text-align: center; }

.home-slider {
  width: 100%; }
  .home-slider .full-container {
    position: relative; }
  .home-slider__slick {
    position: relative;
    width: 100%;
    z-index: 1; }
    .home-slider__slick > .home-slider__item:nth-child(n + 2) {
      display: none !important; }
    .home-slider__slick .slick-dots {
      position: absolute;
      bottom: 30px;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      width: 100%; }
      @media (max-width: 991px) {
        .home-slider__slick .slick-dots {
          bottom: 20px; } }
      .home-slider__slick .slick-dots li {
        margin: 0px 5px;
        overflow: hidden; }
        .home-slider__slick .slick-dots li.slick-active button {
          background-color: #004c9f; }
          .home-slider__slick .slick-dots li.slick-active button:hover {
            background-color: #004c9f; }
        .home-slider__slick .slick-dots li button {
          position: relative;
          width: 14px;
          height: 14px;
          font-size: 0px;
          background-color: #ddd;
          border-radius: 50%;
          cursor: pointer;
          -webkit-transition-property: background-color;
          -o-transition-property: background-color;
          transition-property: background-color;
          -webkit-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: linear;
          -o-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s; }
          @media (max-width: 991px) {
            .home-slider__slick .slick-dots li button {
              width: 10px;
              height: 10px; } }
          .home-slider__slick .slick-dots li button:hover {
            background-color: #aaa; }
  .home-slider__item {
    position: relative;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 850px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media (max-width: 991px) {
      .home-slider__item {
        height: 80vw; } }
    .home-slider__item .container {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center; }
      @media (max-width: 991px) {
        .home-slider__item .container {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
  .home-slider__box {
    width: 100%;
    padding-right: calc(100% - 360px); }
    @media (max-width: 991px) {
      .home-slider__box {
        padding-right: 30%; } }
  .home-slider__title {
    position: relative;
    width: 100%;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.4;
    color: #333; }
    @media (max-width: 991px) {
      .home-slider__title {
        font-size: 28px; } }
    @media (max-width: 575px) {
      .home-slider__title {
        font-size: 22px; } }
  .home-slider__subtitle {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #777; }
    @media (max-width: 991px) {
      .home-slider__subtitle {
        font-size: 15px; } }
    @media (max-width: 575px) {
      .home-slider__subtitle {
        max-width: none; } }
  .home-slider__btnbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
    margin-top: 20px; }
    @media (max-width: 991px) {
      .home-slider__btnbox {
        margin-top: 15px; } }
  .home-slider__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    background-color: #004c9f;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
    @media (max-width: 991px) {
      .home-slider__btn {
        width: 100px;
        height: 36px;
        font-size: 14px; } }
    .home-slider__btn:nth-child(n + 2) {
      margin-left: 25px; }
      @media (max-width: 991px) {
        .home-slider__btn:nth-child(n + 2) {
          margin-left: 10px; } }
    .home-slider__btn:hover {
      opacity: .7; }
    .home-slider__btn--contact {
      background-color: #009c42; }
      @media (max-width: 991px) {
        .home-slider__btn--contact {
          display: none; } }

.home-banner {
  width: 100%;
  overflow: hidden; }
  .home-banner__block {
    width: 100%; }
  .home-banner__img {
    width: 100%;
    max-width: none; }
    @media (min-width: 992px) {
      .home-banner__img--mb {
        display: none; } }
    @media (max-width: 991px) {
      .home-banner__img--pc {
        display: none; } }

.home-about {
  width: 100%;
  background-color: #f5f5f5;
  overflow: hidden; }
  .home-about__block {
    width: 100%;
    padding: 70px 0; }
    @media (max-width: 991px) {
      .home-about__block {
        padding: 40px 0; } }
  .home-about .common__title::before {
    background-size: 150px 1000px;
    background-repeat: no-repeat;
    background-image: url("../images/icons-01.png?115");
    background-position: 0px -61px; }
  .home-about .common__title p {
    color: #555; }
  .home-about__detailbox {
    width: 100%;
    -webkit-transition-property: margin-bottom;
    -o-transition-property: margin-bottom;
    transition-property: margin-bottom;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
    .home-about__detailbox--active {
      margin-bottom: 30px; }
  .home-about__detail {
    display: none;
    width: 100%;
    min-width: 100%; }
    .home-about__detail-img {
      width: 100%;
      max-width: none; }
    .home-about__detail-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      width: 100%;
      padding: 40px 30px 25px;
      background-color: #fff; }
      @media (max-width: 991px) {
        .home-about__detail-box {
          padding: 30px 20px 20px; } }
    .home-about__detail-title {
      width: 380px;
      padding-right: 20px; }
      @media (max-width: 1199px) {
        .home-about__detail-title {
          width: 300px; } }
      @media (max-width: 991px) {
        .home-about__detail-title {
          width: 100%;
          margin-bottom: 30px; } }
      .home-about__detail-title p {
        width: 100%;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        color: #555; }
        @media (max-width: 991px) {
          .home-about__detail-title p {
            font-size: 16px; } }
      .home-about__detail-title h3 {
        width: 100%;
        font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.4;
        color: #333; }
        @media (max-width: 991px) {
          .home-about__detail-title h3 {
            font-size: 24px; } }
    .home-about__detail-content {
      width: calc(100% - 380px); }
      @media (max-width: 1199px) {
        .home-about__detail-content {
          width: calc(100% - 300px); } }
      @media (max-width: 991px) {
        .home-about__detail-content {
          width: 100%; } }
    .home-about__detail-btnbox {
      width: 100%;
      padding-top: 20px;
      margin-top: 25px;
      border-top: 1px solid #ddd; }
      @media (max-width: 991px) {
        .home-about__detail-btnbox {
          padding-top: 15px;
          margin-top: 20px; } }
    .home-about__detail-btn {
      width: 30px;
      height: 30px;
      background-color: #555;
      background-size: 150px 1000px;
      background-repeat: no-repeat;
      background-image: url("../images/icons-01.png?115");
      background-position: -120px -61px;
      border-radius: 50%;
      -webkit-transition-property: background-color;
      -o-transition-property: background-color;
      transition-property: background-color;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
      .home-about__detail-btn:hover {
        background-color: #004c9f; }
  .home-about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%; }
  .home-about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: center;
    align-content: center; }
    @media (min-width: 992px) {
      .home-about__item {
        width: calc((100% - 30px) / 2);
        margin-right: 30px; }
        .home-about__item:nth-child(2n) {
          margin-right: 0; }
        .home-about__item:nth-child(n + 3) {
          margin-top: 30px; } }
    @media (max-width: 991px) {
      .home-about__item {
        width: 100%; }
        .home-about__item:nth-child(n + 2) {
          margin-top: 20px; } }
    .home-about__item:hover .home-about__content::after, .home-about__item--active .home-about__content::after {
      background-color: #004c9f; }
    .home-about__item:hover .home-about__title, .home-about__item--active .home-about__title {
      color: #004c9f; }
  .home-about__img {
    width: 225px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media (max-width: 1199px) {
      .home-about__img {
        width: 200px; } }
    @media (max-width: 575px) {
      .home-about__img {
        width: 100%; } }
    .home-about__img::before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%; }
  .home-about__content {
    position: relative;
    width: calc(100% - 225px);
    padding: 25px 30px 30px;
    background-color: #fff; }
    @media (max-width: 1199px) {
      .home-about__content {
        width: calc(100% - 200px); } }
    @media (max-width: 575px) {
      .home-about__content {
        width: 100%;
        padding: 20px 15px; } }
    .home-about__content::after {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-color: #009c42;
      background-size: 150px 1000px;
      background-repeat: no-repeat;
      background-image: url("../images/icons-01.png?115");
      background-position: -120px -92px;
      border-radius: 50%;
      -webkit-transition-property: background-color;
      -o-transition-property: background-color;
      transition-property: background-color;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
      @media (min-width: 576px) {
        .home-about__content::after {
          position: absolute;
          bottom: 30px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%); } }
      @media (max-width: 575px) {
        .home-about__content::after {
          margin: 10px auto 0; } }
  .home-about__title {
    width: 100%;
    height: calc(1em + 15px);
    padding-bottom: 15px;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #999;
    overflow: hidden;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  .home-about__text {
    width: 100%;
    height: 3.4em;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #999;
    text-align: center;
    overflow: hidden; }
    @media (max-width: 991px) {
      .home-about__text {
        font-size: 15px; } }
    @media (max-width: 575px) {
      .home-about__text {
        height: auto; } }

.home-care {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; }
  .home-care__block {
    width: 100%;
    padding: 70px 0 0; }
    @media (max-width: 991px) {
      .home-care__block {
        padding: 40px 0 0; } }
  .home-care .common__title {
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3)); }
    .home-care .common__title::before {
      background-size: 150px 1000px;
      background-repeat: no-repeat;
      background-image: url("../images/icons-01.png?115");
      background-position: 0px -107px; }
    .home-care .common__title p {
      color: #fff; }
  .home-care__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    width: 100%;
    min-height: 645px;
    padding: 30px 0 70px; }
    @media (max-width: 1199px) {
      .home-care__list {
        min-height: 540px; } }
    @media (max-width: 991px) {
      .home-care__list {
        min-height: auto;
        padding: 0; } }
  .home-care__item {
    position: relative;
    z-index: 2; }
    @media (min-width: 1200px) {
      .home-care__item {
        width: 290px; }
        .home-care__item:nth-child(odd) {
          margin-right: 280px;
          text-align: right; }
        .home-care__item:nth-child(even) {
          margin-left: 280px; }
        .home-care__item:nth-child(n + 3) {
          margin-top: 80px; } }
    @media (max-width: 1199px) and (min-width: 992px) {
      .home-care__item {
        width: 250px; }
        .home-care__item:nth-child(odd) {
          margin-right: 230px;
          text-align: right; }
        .home-care__item:nth-child(even) {
          margin-left: 230px; }
        .home-care__item:nth-child(n + 3) {
          margin-top: 65px; } }
    @media (max-width: 991px) {
      .home-care__item {
        width: 100%;
        text-align: center; }
        .home-care__item:nth-child(n + 2) {
          margin-top: 30px; } }
    .home-care__item:hover .home-care__btn {
      color: #fff;
      background-color: #ea5514; }
  .home-care__title {
    width: 100%;
    height: 1.4em;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
    overflow: hidden; }
  .home-care__text {
    width: 100%;
    max-height: 3.4em;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #956134;
    overflow: hidden; }
    @media (max-width: 991px) {
      .home-care__text {
        margin-top: 5px;
        font-size: 15px; } }
  .home-care__btn {
    display: inline-block;
    width: 70px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #ea5514;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ea5514;
    border-radius: 15px;
    -webkit-transition-property: color, background-color;
    -o-transition-property: color, background-color;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
    @media (max-width: 991px) {
      .home-care__btn {
        font-size: 15px; } }
  @media (min-width: 1200px) {
    .home-care__img {
      width: 600px; } }
  @media (max-width: 1199px) and (min-width: 992px) {
    .home-care__img {
      width: 500px; } }
  @media (min-width: 992px) {
    .home-care__img {
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); } }
  @media (max-width: 991px) {
    .home-care__img {
      width: 100%;
      max-width: 500px;
      margin: 30px auto 0; } }
  .home-care__img img {
    width: 100%; }

.home-service {
  width: 100%;
  background-color: #fff;
  overflow: hidden; }
  .home-service__block {
    width: 100%;
    padding: 70px 0; }
    @media (max-width: 991px) {
      .home-service__block {
        padding: 40px 0; } }
  .home-service .common__title::before {
    width: 90px;
    height: 90px;
    background-size: 150px 1000px;
    background-repeat: no-repeat;
    background-image: url("../images/icons-01.png?115");
    background-position: 0px -153px; }
    @media (max-width: 991px) {
      .home-service .common__title::before {
        width: 45px;
        height: 45px;
        background-size: 75px 500px;
        background-repeat: no-repeat;
        background-image: url("../images/icons-01.png?115");
        background-position: 0px -76.5px; } }
  .home-service .common__title p {
    color: #555; }
  .home-service .common__title span {
    color: #666; }
  .home-service__content {
    width: 100%;
    text-align: center; }
  .home-service__img {
    width: 100%; }
    @media (max-width: 767px) {
      .home-service__img {
        padding: 0 10px; } }
    .home-service__img--mb {
      max-width: 450px; }
      @media (min-width: 768px) {
        .home-service__img--mb {
          display: none; } }
    .home-service__img--pc {
      max-width: 960px; }
      @media (max-width: 767px) {
        .home-service__img--pc {
          display: none; } }

.home-case {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; }
  .home-case__block {
    width: 100%;
    padding: 70px 0 0; }
    @media (max-width: 991px) {
      .home-case__block {
        padding: 40px 0 0; } }
  .home-case .common__title {
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3)); }
    .home-case .common__title::before {
      background-size: 150px 1000px;
      background-repeat: no-repeat;
      background-image: url("../images/icons-01.png?115");
      background-position: 0px -244px; }
    .home-case .common__title p {
      color: #fff; }
  .home-case__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    width: 100%;
    min-height: 645px;
    padding: 30px 0 70px; }
    @media (max-width: 1199px) {
      .home-case__list {
        min-height: 540px; } }
    @media (max-width: 991px) {
      .home-case__list {
        min-height: auto;
        padding: 0; } }
  .home-case__item {
    position: relative;
    z-index: 2; }
    @media (min-width: 1200px) {
      .home-case__item {
        width: 290px; }
        .home-case__item:nth-child(odd) {
          margin-right: 280px;
          text-align: right; }
        .home-case__item:nth-child(even) {
          margin-left: 280px; }
        .home-case__item:nth-child(n + 3) {
          margin-top: 80px; } }
    @media (max-width: 1199px) and (min-width: 992px) {
      .home-case__item {
        width: 250px; }
        .home-case__item:nth-child(odd) {
          margin-right: 230px;
          text-align: right; }
        .home-case__item:nth-child(even) {
          margin-left: 230px; }
        .home-case__item:nth-child(n + 3) {
          margin-top: 65px; } }
    @media (max-width: 991px) {
      .home-case__item {
        width: 100%;
        text-align: center; }
        .home-case__item:nth-child(n + 2) {
          margin-top: 30px; } }
    .home-case__item:hover .home-case__btn {
      color: #fff;
      background-color: #004c9f; }
  .home-case__title {
    width: 100%;
    height: 1.4em;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: #444;
    overflow: hidden; }
  .home-case__text {
    width: 100%;
    max-height: 3.4em;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #777;
    overflow: hidden; }
    @media (max-width: 991px) {
      .home-case__text {
        margin-top: 5px;
        font-size: 15px; } }
  .home-case__btn {
    display: inline-block;
    width: 70px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #004c9f;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #004c9f;
    border-radius: 15px;
    -webkit-transition-property: color, background-color;
    -o-transition-property: color, background-color;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
    @media (max-width: 991px) {
      .home-case__btn {
        font-size: 15px; } }
  @media (min-width: 1200px) {
    .home-case__img {
      width: 600px; } }
  @media (max-width: 1199px) and (min-width: 992px) {
    .home-case__img {
      width: 500px; } }
  @media (min-width: 992px) {
    .home-case__img {
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); } }
  @media (max-width: 991px) {
    .home-case__img {
      width: 100%;
      max-width: 500px;
      margin: 30px auto 0; } }
  .home-case__img img {
    width: 100%; }

.home-qa {
  width: 100%;
  background-color: #f5f5f5;
  overflow: hidden; }
  .home-qa__block {
    width: 100%;
    padding: 70px 0; }
    @media (max-width: 991px) {
      .home-qa__block {
        padding: 40px 0; } }
  .home-qa .common__title::before {
    background-size: 150px 1000px;
    background-repeat: no-repeat;
    background-image: url("../images/icons-01.png?115");
    background-position: 0px -290px; }
  .home-qa .common__title p {
    color: #555; }
  .home-qa__detailbox {
    width: 100%;
    -webkit-transition-property: margin-bottom;
    -o-transition-property: margin-bottom;
    transition-property: margin-bottom;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
    .home-qa__detailbox--active {
      margin-bottom: 30px; }
  .home-qa__detail {
    display: none;
    width: 100%;
    min-width: 100%; }
    .home-qa__detail-img {
      width: 100%;
      max-width: none; }
    .home-qa__detail-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      width: 100%;
      padding: 40px 30px 25px;
      background-color: #fff; }
      @media (max-width: 991px) {
        .home-qa__detail-box {
          padding: 30px 20px 20px; } }
    .home-qa__detail-title {
      width: 380px;
      padding-right: 20px; }
      @media (max-width: 1199px) {
        .home-qa__detail-title {
          width: 300px; } }
      @media (max-width: 991px) {
        .home-qa__detail-title {
          width: 100%;
          margin-bottom: 30px; } }
      .home-qa__detail-title p {
        width: 100%;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        color: #555; }
        @media (max-width: 991px) {
          .home-qa__detail-title p {
            font-size: 16px; } }
      .home-qa__detail-title h3 {
        width: 100%;
        font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.4;
        color: #333; }
        @media (max-width: 991px) {
          .home-qa__detail-title h3 {
            font-size: 24px; } }
    .home-qa__detail-content {
      width: calc(100% - 380px); }
      @media (max-width: 1199px) {
        .home-qa__detail-content {
          width: calc(100% - 300px); } }
      @media (max-width: 991px) {
        .home-qa__detail-content {
          width: 100%; } }
    .home-qa__detail-btnbox {
      width: 100%;
      padding-top: 20px;
      margin-top: 25px;
      border-top: 1px solid #ddd; }
      @media (max-width: 991px) {
        .home-qa__detail-btnbox {
          padding-top: 15px;
          margin-top: 20px; } }
    .home-qa__detail-btn {
      width: 30px;
      height: 30px;
      background-color: #555;
      background-size: 150px 1000px;
      background-repeat: no-repeat;
      background-image: url("../images/icons-01.png?115");
      background-position: -120px -61px;
      border-radius: 50%;
      -webkit-transition-property: background-color;
      -o-transition-property: background-color;
      transition-property: background-color;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
      .home-qa__detail-btn:hover {
        background-color: #004c9f; }
  .home-qa__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%; }
  .home-qa__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: center;
    align-content: center; }
    @media (min-width: 992px) {
      .home-qa__item {
        width: calc((100% - 30px) / 2);
        margin-right: 30px; }
        .home-qa__item:nth-child(2n) {
          margin-right: 0; }
        .home-qa__item:nth-child(n + 3) {
          margin-top: 30px; } }
    @media (max-width: 991px) {
      .home-qa__item {
        width: 100%; }
        .home-qa__item:nth-child(n + 2) {
          margin-top: 20px; } }
    .home-qa__item:hover .home-qa__content::after, .home-qa__item--active .home-qa__content::after {
      background-color: #004c9f; }
    .home-qa__item:hover .home-qa__title, .home-qa__item--active .home-qa__title {
      color: #004c9f; }
  .home-qa__img {
    width: 225px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media (max-width: 1199px) {
      .home-qa__img {
        width: 200px; } }
    @media (max-width: 575px) {
      .home-qa__img {
        width: 100%; } }
    .home-qa__img::before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%; }
  .home-qa__content {
    position: relative;
    width: calc(100% - 225px);
    padding: 25px 30px 30px;
    background-color: #fff; }
    @media (max-width: 1199px) {
      .home-qa__content {
        width: calc(100% - 200px); } }
    @media (max-width: 575px) {
      .home-qa__content {
        width: 100%;
        padding: 20px 15px; } }
    .home-qa__content::after {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-color: #fdd312;
      background-size: 150px 1000px;
      background-repeat: no-repeat;
      background-image: url("../images/icons-01.png?115");
      background-position: -120px -92px;
      border-radius: 50%;
      -webkit-transition-property: background-color;
      -o-transition-property: background-color;
      transition-property: background-color;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
      @media (min-width: 576px) {
        .home-qa__content::after {
          position: absolute;
          bottom: 30px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%); } }
      @media (max-width: 575px) {
        .home-qa__content::after {
          margin: 10px auto 0; } }
  .home-qa__title {
    width: 100%;
    height: calc(1em + 15px);
    padding-bottom: 15px;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #999;
    overflow: hidden;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  .home-qa__text {
    width: 100%;
    height: 3.4em;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #999;
    text-align: center;
    overflow: hidden; }
    @media (max-width: 991px) {
      .home-qa__text {
        font-size: 15px; } }
    @media (max-width: 575px) {
      .home-qa__text {
        height: auto; } }

.home-contact {
  width: 100%;
  overflow: hidden; }
  .home-contact__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: center;
    align-content: center; }
  .home-contact__form {
    width: 50%;
    padding: 70px 140px 70px calc(50% - 570px); }
    @media (max-width: 1199px) {
      .home-contact__form {
        padding: 70px 80px 70px calc(50% - 480px); } }
    @media (max-width: 991px) {
      .home-contact__form {
        width: 100%;
        padding: 40px 0; } }
    @media (min-width: 992px) {
      .home-contact__form .container {
        width: 100%;
        padding: 0; } }
  .home-contact__title {
    position: relative;
    width: 100%;
    padding-left: 60px;
    margin-bottom: 45px;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.3; }
    @media (max-width: 991px) {
      .home-contact__title {
        margin-bottom: 25px;
        font-size: 28px; } }
    .home-contact__title::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 45px;
      height: 45px;
      background-size: 150px 1000px;
      background-repeat: no-repeat;
      background-image: url("../images/icons-01.png?115");
      background-position: 0px -336px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .home-contact__table {
    width: 100%; }
  .home-contact__item {
    width: 100%; }
    .home-contact__item:nth-child(n + 2) {
      margin-top: 30px; }
      @media (max-width: 991px) {
        .home-contact__item:nth-child(n + 2) {
          margin-top: 20px; } }
  .home-contact__field {
    width: 100%;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #333; }
    @media (max-width: 991px) {
      .home-contact__field {
        font-size: 16px; } }
  .home-contact__label {
    width: 100%; }
  .home-contact__input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #2c3e50;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition-property: border-color;
    -o-transition-property: border-color;
    transition-property: border-color;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
    .home-contact__input:focus {
      border-color: #777; }
  .home-contact__radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%; }
    @media (max-width: 991px) {
      .home-contact__radio {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
    .home-contact__radio label {
      position: relative;
      display: block;
      padding-left: 20px;
      margin-top: 10px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      color: #999; }
      @media (max-width: 991px) {
        .home-contact__radio label {
          margin-right: 15px; } }
      .home-contact__radio label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 15px;
        height: 15px;
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 2px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1;
        -webkit-transition-property: background-color;
        -o-transition-property: background-color;
        transition-property: background-color;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s; }
      .home-contact__radio label:hover::before {
        background-color: #eee; }
      .home-contact__radio label input {
        display: none; }
        .home-contact__radio label input:checked ~ i {
          display: block; }
      .home-contact__radio label i {
        position: absolute;
        top: 50%;
        left: 0;
        display: none;
        width: 15px;
        height: 15px;
        background-size: 150px 1000px;
        background-repeat: no-repeat;
        background-image: url("../images/icons-01.png?115");
        background-position: -135px -123px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 2; }
  .home-contact__btnbox {
    width: 100%;
    margin-top: 40px; }
    @media (max-width: 991px) {
      .home-contact__btnbox {
        margin-top: 25px; } }
  .home-contact__btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background-color: #009c42;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
    @media (max-width: 991px) {
      .home-contact__btn {
        font-size: 15px;
        line-height: 36px; } }
    .home-contact__btn:hover {
      opacity: .7; }
  .home-contact__img {
    width: 50%;
    background-image: url("../images/home/contact_img-01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media (max-width: 991px) {
      .home-contact__img {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        width: 100%;
        padding-bottom: 60%; } }
  .home-contact__success {
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(100vw - 30px);
    max-width: 300px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
    text-align: center;
    background-color: #39b54a;
    -webkit-box-shadow: 0 0 10px rgba(57, 181, 74, 0.7);
    box-shadow: 0 0 10px rgba(57, 181, 74, 0.7);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 998;
    -webkit-animation: msgAniamtion .8s;
    animation: msgAniamtion .8s; }
  .home-contact__error {
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(100vw - 30px);
    max-width: 300px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
    text-align: center;
    background-color: #c30d23;
    -webkit-box-shadow: 0 0 10px rgba(195, 13, 35, 0.7);
    box-shadow: 0 0 10px rgba(195, 13, 35, 0.7);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 998;
    -webkit-animation: msgAniamtion .8s;
    animation: msgAniamtion .8s; }

@-webkit-keyframes msgAniamtion {
  from {
    margin-top: 50px;
    opacity: 0; }
  to {
    margin-top: 0px;
    opacity: 1; } }

@keyframes msgAniamtion {
  from {
    margin-top: 50px;
    opacity: 0; }
  to {
    margin-top: 0px;
    opacity: 1; } }
