/*
Copyright (c) 2003-2018, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-oss-license
*/

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700&display=swap&subset=chinese-traditional");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap");

body {
	font-family: "Montserrat", "Noto Sans TC", "Microsoft JhengHei", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7;

	color: #777777;

	background-color: #fff;
	padding: 20px;
	margin: 0px;
}

.cke_editable {
	font-size: 13px;
	line-height: 1.7;

	word-wrap: break-word;
}

.cke_contents_ltr blockquote {
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote {
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a {
	color: #61BADC;
}

ol,ul,dl {
	*margin-right: 0px;
	padding: 0 20px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 500;
	line-height: 1.4;
	margin: 0;
	color: #777;
}

h1 {
	font-size: 24px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 15px;
}
h6 {
	font-size: 14px;
}

hr {
	border: 0px;
	border-top: 1px solid #ccc;
}

img.right {
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left {
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker {
	background-color: Yellow;
}


figure {
	text-align: center;
	outline: solid 1px #ccc;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption {
	text-align: center;
	display: block; /* For IE8 */
}

a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}

/* Widget Styles */
.code-featured {
	border: 5px solid red;
}

.math-featured {
	padding: 20px;
	box-shadow: 0 0 2px rgba(200, 0, 0, 1);
	background-color: rgba(255, 0, 0, 0.05);
	margin: 10px;
}

.image-clean {
	border: 0;
	background: none;
	padding: 0;
}

.image-clean > figcaption {
	font-size: .9em;
	text-align: right;
}

.image-grayscale {
	background-color: white;
	color: #666;
}

.image-grayscale img, img.image-grayscale {
	filter: grayscale(100%);
}

.embed-240p {
	max-width: 426px;
	max-height: 240px;
	margin:0 auto;
}

.embed-360p {
	max-width: 640px;
	max-height: 360px;
	margin:0 auto;
}

.embed-480p {
	max-width: 854px;
	max-height: 480px;
	margin:0 auto;
}

.embed-720p {
	max-width: 1280px;
	max-height: 720px;
	margin:0 auto;
}

.embed-1080p {
	max-width: 1920px;
	max-height: 1080px;
	margin:0 auto;
}

.cke_editable ol {
	margin: 0 !important;
}
.cke_editable ul {
	margin: 0 !important;
}

.youtube-embed-wrapper {
	background-color: #eee;
	padding-bottom: 150px !important;
}

.youtube-embed-wrapper:before {
	content: "連續點擊即可編輯引入影片網址☚，此區塊高度非前台顯示高度";

	position: absolute;

	top: 20px;
	left: 20px;

	font-size: 16px;
	font-weight: 300;
	color: #999;
}

.youtube-embed-wrapper img.cke_iframe {
	position: absolute;

	top: 0;
	left: 0;

	width: 100% !important;
	height: 100% !important;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* 編輯器 */
.cke_editable h1,
.cke_editable h2,
.cke_editable h3,
.cke_editable h4,
.cke_editable h5,
.cke_editable h6 {
    margin: 0;

    font-family: "Poppins", "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    font-weight: 500;
    line-height: 1.4;
    color: #333;
}
.cke_editable h1 {
    font-size: 48px;
}
.cke_editable h2 {
    font-size: 40px;
}
.cke_editable h3 {
    font-size: 32px;
}
.cke_editable h4 {
    font-size: 28px;
}
.cke_editable h5 {
    font-size: 24px;
}
.cke_editable h6 {
    font-size: 20px;
}

.cke_editable p {
    padding: 0;
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #555;
}
.cke_editable a {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #1d4fd1;

    text-decoration: underline;

    -webkit-transition: opacity .3s;
       -moz-transition: opacity .3s;
        -ms-transition: opacity .3s;
         -o-transition: opacity .3s;
            transition: opacity .3s;
}
.cke_editable a:hover {
    opacity: .7;
}
.cke_editable ol {
    padding-left: 30px;
    margin: 0;

    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #555;

    list-style-type: decimal;
}
.cke_editable ol li {
    list-style-type: decimal;
}
.cke_editable ul {
    padding-left: 30px;
    margin: 0;

    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #555;

    list-style-type: disc;
}
.cke_editable ul li {
    list-style-type: disc;
}
.cke_editable img {
    max-width: 100%;
    height: auto !important;

    vertical-align: middle;
}

.cke_editable table {
    max-width: 100%;

    font-size: 16px;
    font-weight: 400;

    border: 1px solid #ddd;
    border-collapse: collapse;
}
.cke_editable td, .cke_editable th {
    padding: 10px 5px;

    line-height: 1.7;

    border: 1px solid #ddd;

    white-space: normal !important;
}

.cke_editable blockquote {
    padding: 5px 20px;
    margin: 10px 0px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #333;

    border-style: solid;
    border-color: #ccc;
    border-width: 0 0 0 5px;
}

.cke_editable strong {
    font-weight: bold;
}

.cke_editable__table--scroll {
    width: 100%;

    overflow: auto;
}
.cke_editable__table--scroll::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}
.cke_editable__table--scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;

    background-color: #F5F5F5;
}
.cke_editable__table--scroll::-webkit-scrollbar-thumb {
    background-color: #555;
}
/* 編輯器 end */